.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  &-header {
    display: flex;
    margin-bottom: 24px;
  }

  &-active {
    transition: var(--transition);
  }

  &-active {
    transition: var(--transition);
  }

  &-content {
    width: 100%;
  }

  &-item {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:not(.tab-active) {
      opacity: 0.5;
      font-weight: normal;

      &::after {
        content: "";
        background-color: transparent;
      }
    }
  }
}
