<div class="auth">
  <div class="auth-image">
    <picture>
      <source
        srcset="/assets/ilustrations/celular-sm.png"
        media="(max-width: 768px)"
      />
      <img
        src="/assets/ilustrations/celular-lg.png"
        alt="ilustração de dois jovens em volta de um smartfone"
        priority
        fetchpriority="high"
      />
    </picture>
  </div>
  <div class="auth-route">
    <div [@fade]="outlet.isActivated ? outlet.activatedRoute : ''">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
