@use "../../scss/variables/breakpoints";

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 1118px;
  flex-wrap: wrap;
  padding: 0 32px;
  position: relative;
  justify-content: center;

  @media (min-width: breakpoints.$desktop) {
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: breakpoints.$desktop-lg) {
    justify-content: center;
    max-width: 1418px;
  }

  &-image {
    display: block;
    height: 363px;
    max-height: 100vh;
    width: calc(100% + 64px);
    margin-left: -32px;
    margin-right: -32px;
    overflow: hidden;

    @media (min-width: breakpoints.$tablet) {
      margin-left: 0;
      margin-right: 0;
      height: auto;
      flex: 1;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &-route {
    width: 100vw;
    max-width: 350px;
    position: relative;
  }
}
