.input-color {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;

  &_header {
    margin-bottom: var(--space-4);
    color: var(--font-color-dark);
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-3);
    font-style: normal;
  }

  &_square {
    border-radius: 6px;
    border: 1px solid var(--neutral-color-1);
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}
