<div (click)="input.click()" class="input-color" [ngClass]="{ disabled }">
  <div class="input-color_header">
    <label [for]="id + '-input-color'">{{ label }}</label>
  </div>

  <div
    class="input-color_square"
    [ngStyle]="{
      backgroundColor: value
    }"
  ></div>

  <input
    #input
    type="color"
    hidden="true"
    [disabled]="disabled"
    (change)="getColorToValProperty(input.value)"
    [(ngModel)]="value"
    [id]="id + '-input-color'"
    [name]="id + '-input-color'"
  />
</div>
