@use "../../../scss/mixins/position";
@use "../../../scss/typography.scss" as import;

.item-bar {
  background-color: var(--neutral-color-3);
  border-radius: 16px;
  border: 1px solid var(--neutral-color-1);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0 0 0 var(--neutral-color-1));
  padding: 8px;
  transition: var(--transition);

  &:hover {
    filter: drop-shadow(0 4px 4px var(--neutral-color-1));
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-title {
    @extend .text-normal;
  }

  &-legend {
    @extend .legenda;
    margin-top: 4px;
  }

  &-icon {
    @include position.flexCenter();
  }
}
