<main id="student">
  <app-tabs>
    <app-tab>
      <ng-template appTabHeader>
        <h2 class="subtitle border">Atividades</h2>
      </ng-template>

      <ng-template appTabContent>
        <h1>Conteúdo da Tab 1</h1>
      </ng-template>
    </app-tab>

    <app-tab>
      <ng-template appTabHeader>
        <h2 class="subtitle border">Avaliações</h2>
      </ng-template>

      <ng-template appTabContent>
        <h1>Conteúdo da Tab 2</h1>
      </ng-template>
    </app-tab>

    <app-tab>
      <ng-template appTabHeader>
        <h2 class="subtitle border">Materias</h2>
      </ng-template>

      <ng-template appTabContent>
        <h1>Conteúdo da Tab 3</h1>
      </ng-template>
    </app-tab>
  </app-tabs>
</main>
