@use "../../../../scss/mixins/grid";
@use "../../../../scss/variables/breakpoints";

#student {
  @include grid.container(var(--container-size));
  @include grid.directionColumn();
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: breakpoints.$tablet) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  &-aside {
    @include grid.directionColumn();
    align-items: center;
    margin-bottom: 24px;
    width: 100%;

    @media (min-width: breakpoints.$tablet) {
      margin-right: 24px;
      flex: 1;
    }

    .jumbotron {
      width: 100%;
      margin-bottom: 24px;
    }

    &-avatar-name {
      margin: 24px 0;
    }
  }

  &-content {
    width: 100%;
    flex: 1;
  }

  &-list-post {
    width: 100%;

    &-header {
      margin-bottom: 24px;
    }

    ul {
      list-style: none;
    }
  }

  &-list-courses ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  app-progress-bar {
    margin-bottom: 24px;
  }

  &-ativeidade-content {
    display: flex;
    justify-content: space-between;
  }
}
