@use "../../../scss/mixins/position";
@use "../../../scss/mixins/geometric";

.calendar {
  background-color: inherit;
  border: 1px solid var(--neutral-color-1);
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-4);
  width: 100%;

  &-header {
    display: grid;
    font-weight: var(--font-weight-bold);
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: var(--space-4);
    width: 100%;

    button {
      grid-column: span 1;
    }

    &-title {
      grid-column: span 5;
      text-align: center;
    }
  }

  &-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    width: 100%;

    .calendar-day {
      @include position.flexCenter;
      cursor: pointer;
      width: calc(100% / 7);
    }

    .selected .circle {
      background-color: var(--primary-color-1);
      border: none;
      color: var(--neutral-color-3);
      font-weight: var(--font-weight-bold);
    }

    &-week {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--space-4);

      .calendar-day {
        cursor: default;
        font-weight: var(--font-weight-bold);
        opacity: 0.5;
      }
    }

    &-days {
      align-items: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: flex-start;

      .calendar-day {
        margin-bottom: var(--space-4);
      }

      .circle {
        @include position.flexCenter;
        @include geometric.circle(32px);

        border: 1px solid var(--neutral-color-1);
        border-radius: var(--border-radius-1);
        font-size: 12px;
        transition: var(--transition);
      }
    }
  }

  &-button {
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--primary-color-3);
    color: var(--neutral-color-3);
    padding: var(--space-2) var(--space-4);
    margin: 0 auto;
    text-align: center;
    transition: var(--transition);
    width: 40px;

    &:hover {
      background-color: var(--primary-color-1);
    }
  }
}
