<div class="calendar">
  <header class="calendar-header text">
    <button (click)="prev()" class="calendar-button">
      <fa-icon [icon]="prevIcon" />
    </button>

    <span class="calendar-header-title"> {{ month() }} de {{ year() }} </span>

    <button (click)="next()" class="calendar-button">
      <fa-icon [icon]="nextIcon" />
    </button>
  </header>

  <div class="calendar-body">
    <ol class="calendar-body-week">
      @for (day of daysInWeek; track $index) {
      <li class="calendar-day text">{{ day }}</li>
      }
    </ol>

    <ol class="calendar-body-days">
      @for (day of days(); track $index) {

      <li>
        <app-calendar-day
          (click)="selectDay = day"
          [selected]="selectDay === day"
        >
          {{ day | date : "d" }}
        </app-calendar-day>
      </li>
      }
    </ol>
  </div>
</div>
