@use "../../../scss/mixins/position";
@use "../../../scss/variables/breakpoints";

.calendar {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media (min-width: breakpoints.$mobile) {
    border: 1px solid var(--neutral-color-1);
    border-radius: var(--border-radius-1);
    padding: var(--space-4);
  }

  &-header {
    display: grid;
    font-weight: var(--font-weight-bold);
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: var(--space-4);
    width: 100%;

    button {
      grid-column: span 1;
    }

    &-title {
      grid-column: span 5;
      text-align: center;
    }
  }

  &-body {
    width: 100%;

    li {
      @include position.flexCenter;
    }

    &-week {
      margin-bottom: var(--space-4);

      li {
        font-weight: var(--font-weight-bold);
        opacity: 0.5;
      }
    }

    &-week,
    &-days {
      display: grid;
      list-style: none;
      gap: 12px;
      grid-template-columns: repeat(7, 1fr);
    }

    &-days ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 12px;
    }
  }

  &-button {
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--primary-color-3);
    color: var(--neutral-color-3);
    padding: var(--space-2) var(--space-4);
    margin: 0 auto;
    text-align: center;
    transition: var(--transition);
    width: 40px;

    &:hover {
      background-color: var(--primary-color-1);
    }
  }
}