<div class="select">
  <div class="select_input">
    <app-input-text
      (click)="showOptions = true"
      (blur)="showOptions = false"
      [label]="label()"
      [placeholder]="placeholder()"
      [(ngModel)]="inputValue"
      (ngModelChange)="filterOptions()"
      [id]="id()"
    >
    </app-input-text>
  </div>

  <ul class="select_options scroll-style" [ngClass]="{ show: showOptions }">
    @for (option of _options; track $index) {
      <li (click)="setValue(option)" class="select_options_item">
        {{ option.label }}
      </li>
    } @empty {
      <li (click)="showOptions = false" class="select_options_empty">
        sem resultados
      </li>
    }
  </ul>
</div>
