#forgot-password {
  text-align: center;

  &-header {
    margin-bottom: var(--space-10);

    .title {
      margin-bottom: var(--space-10);
    }
  }

  &-form {
    margin-bottom: var(--space-13);

    app-input-text {
      display: block;

      & ~ app-input-text {
        margin-top: var(--space-6);
      }
    }
  }

  .link:not(:last-child) {
    margin-bottom: var(--space-7);
  }

  &-button {
    margin-top: var(--space-10);
    display: block;
  }

  &-footer {
    align-items: stretch;
    display: flex;
    width: 100%;

    ::ng-deep .button {
      height: 100%;
    }
  }

  &-button-back {
    margin-right: 8px;
  }

  &-submit-button {
    flex: 1;
  }
}
