<div id="forgot-password">
  <header id="forgot-password-header">
    <h1 class="title">Esqueceu a sua senha ?</h1>
    <p class="text">
      Enviaremos um email com um link temporario por onde é possível criar uma
      nova senha.
    </p>
  </header>

  <form #form="ngForm" id="forgot-password-form">
    <app-input-text
      name="email"
      [(ngModel)]="payload.email"
      id="email"
      type="email"
      label="Email"
      required
      placeholder="Informe o seu email"
    />
  </form>

  <div id="forgot-password-footer">
    <app-button-back id="forgot-password-button-back" />

    <app-button id="forgot-password-submit-button" [disabled]="!!form.invalid">
      Atualizar senha
    </app-button>
  </div>
</div>
