@import "../../../../scss/index.scss";

#home-page {
  display: flex;
  flex-direction: column;

  .text {
    font-weight: var(--font-weight-bold);
  }

  jumbotron-wellcome,
  jumbotron-notification,
  jumbotron-profile {
    display: block;
    width: 780px;
    margin: 0 auto 24px;
    max-width: 100%;
  }

  jumbotron-notification {
    width: 320px;
  }

  ul {
    list-style: none;
    margin: 0 auto;
    max-width: 330px;
    width: 100%;

    li:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  app-college-item {
    cursor: pointer;
    display: block;
    max-width: 330px;
    margin: 0 auto;
    width: 100%;
  }

  .new-college {
    display: block;
    margin: 0 auto;
  }

  .empty {
    color: var(--neutral-color-1);
    text-align: center;
  }

  .avatar-container {
    @include flexCenter();
    flex-direction: column;
  }
}
