@import "../../../../scss/index.scss";

jumbotron-wellcome,
jumbotron-notification,
jumbotron-profile {
  display: block;
  width: 780px;
  margin: 0 auto 24px;
  max-width: 100%;
}

jumbotron-notification {
  width: 320px;
}

#home-page {
  display: flex;
  flex-direction: column;

  .text {
    font-weight: var(--font-weight-bold);
  }
}
