.text-normal {
  color: var(--font-color-dark);
  font-family: var(--primary-font-family);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: normal;
  margin: 0;
  display: block;
  text-decoration: none;
  max-width: 100%;
  width: 100%;

  &.border {
    position: relative;
    padding-bottom: 12px;

    &::after {
      content: "";
      background-color: #181818;
      bottom: 0;
      border-radius: 8px;
      left: 0;
      height: 4px;
      position: absolute;
      width: calc(100% + 14px);
    }
  }
}

.titulo-grande {
  @extend .text-normal;
}

.titulo-grande-claro {
  @extend .text-normal;
}

.titulo-medio {
  @extend .text-normal;
}

.titulo-normal {
  @extend .text-normal;
}

.link {
  @extend .text-normal;
  color: var(--font-color-ligth);
}

.legenda {
  @extend .text-normal;
}
