<app-jumbotron>
  <h1 class="hide-descktop title" header>Seja bem vindo !!</h1>

  <div>
    <img
      src="/assets/ilustrations/lecture.png"
      alt="Ilustração de uma palestra"
    />
  </div>

  <div footer>
    <h1 class="hide-mobile title" header>Seja bem vindo !!</h1>

    <p class="subtitle hide-mobile text">
      começe criando um portal sua instituição clicando aqui
    </p>

    <a routerLink="create-college">
      <app-button> crie uma nova instituição </app-button>
    </a>
  </div>
</app-jumbotron>
