<aside id="aside-menu" class="aside-menu">
  @if (!!userLogged && !!userLogged.user.photo) {
    <a routerLink="./home">
      <app-avatar-profile
        id="aside-menu-avatar"
        [src]="userLogged.user.photo"
        [name]="userLogged.user.name"
        class="aside-menu-avatar"
      />
    </a>
  } @else {
    <app-avatar-profile id="aside-menu-avatar" class="aside-menu-avatar" />
  }

  <nav class="aside-menu-content">
    <ul>
      @for (menus of menus; track $index) {
        <li>
          <a [routerLink]="menus.link">
            {{ menus.label }}
          </a>
        </li>
      }
    </ul>

    <ul>
      <li>Ajuda</li>
      <li>FAQ</li>
      <li>Sobre a universidade</li>
      <li>Suporte tecnico</li>
    </ul>

    <ul>
      <li>
        <button (click)="logout()">Sair</button>
      </li>
    </ul>
  </nav>
</aside>
