<aside id="aside-menu" class="aside-menu">
  <a routerLink="./home">
    <app-avatar-profile
      [content]="userLogged().user | iuserToAvatar"
      description="Perfil"
      class="aside-menu-avatar"
      id="aside-menu-avatar"
    />
  </a>

  <nav class="aside-menu-content">
    <ul>
      @for (menu of menus; track $index) {
      <li>
        <a
          [routerLink]="menu.link"
          [routerLinkActive]="menu.link"
          ariaCurrentWhenActive="page"
        >
          {{ menu.label }}
        </a>
      </li>
      }
    </ul>

    <ul>
      @for (menu of menusInstitucional; track $index) {
      <li>
        <a
          [routerLink]="menu.link"
          [routerLinkActive]="menu.link"
          ariaCurrentWhenActive="page"
        >
          {{ menu.label }}
        </a>
      </li>
      }
    </ul>

    <ul>
      <li>
        <button (click)="logout()">Sair</button>
      </li>
    </ul>
  </nav>
</aside>
