<aside id="aside-menu" class="aside-menu">
  <a routerLink="./home">
    <app-avatar-profile
      [content]="userLogged.user | iuserToAvatar"
      description="Perfil"
      class="aside-menu-avatar"
      id="aside-menu-avatar"
    />
  </a>

  <nav class="aside-menu-content">
    <ul>
      @for (menus of menus; track $index) {
        <li>
          <a
            [routerLink]="menus.link"
            [routerLinkActive]="menus.link"
            ariaCurrentWhenActive="page"
          >
            {{ menus.label }}
          </a>
        </li>
      }
    </ul>

    <ul>
      <li>Ajuda</li>
      <li>FAQ</li>
      <li>Sobre a universidade</li>
      <li>Suporte tecnico</li>
    </ul>

    <ul>
      <li>
        <button (click)="logout()">Sair</button>
      </li>
    </ul>
  </nav>
</aside>
