<div id="college-list">
  <h2 class="subtitle border">Cursos</h2>

  <ul>
    @for (course of courses(); track $index) {
      <li>
        <app-course-item [thumb]="course.thumb">
          <h3 class="title">{{ course.name }}</h3>
          <app-button
            routerLink="/area-logada/course/{{ course.id }}"
            size="small"
          >
            editar
          </app-button>
        </app-course-item>
      </li>
    } @empty {
      <li>
        <h3 class="subtitle empty">
          Você ainda não atribuiu nenhum curso para essa instituição.
        </h3>
      </li>
    }
  </ul>
</div>
