<div class="register">
  <form #form="ngForm" (ngSubmit)="submit()" class="register-form">
    <app-input-text
      [(ngModel)]="payload.name"
      id="name"
      name="name"
      [required]="true"
      label="Nome"
      type="text"
      placeholder="Informe o seu nome"
      #name="ngModel"
      [autofocus]="true"
      [error]="name | ngModelError"
    />

    @if (name | ngModelError) {
      <app-input-msg-error [controler]="name" />
    }

    <app-input-text
      [(ngModel)]="payload.email"
      id="email"
      name="email"
      [required]="true"
      label="Email"
      email
      type="text"
      placeholder="Informe o seu email"
      #email="ngModel"
      [error]="email | ngModelError"
    />

    @if (email | ngModelError) {
      <app-input-msg-error [controler]="email" />
    }

    <app-input-text
      name="password"
      [(ngModel)]="payload.password"
      id="password"
      type="password"
      [required]="true"
      label="Senha"
      placeholder="Informe a sua senha"
      #password="ngModel"
      [error]="password | ngModelError"
    />

    @if (password | ngModelError) {
      <app-input-msg-error [controler]="password" />
    }

    <app-input-text
      name="confirm_password"
      [(ngModel)]="payload.confirm_password"
      id="confirm_password"
      type="password"
      [required]="true"
      label="Confirme sua Senha"
      placeholder="Confirme sua senha"
      #confirmPassword="ngModel"
      [error]="confirmPassword | ngModelError"
    />

    @if (confirmPassword | ngModelError) {
      <app-input-msg-error [controler]="confirmPassword" />
    }

    <app-input-text
      [(ngModel)]="payload.documentNumber"
      id="document_number"
      name="document_number"
      [required]="true"
      mask="000.000.000-AA"
      label="CPF"
      type="text"
      placeholder="Informe o seu email"
      #documentNumber="ngModel"
      [error]="documentNumber | ngModelError"
    />

    @if (documentNumber | ngModelError) {
      <app-input-msg-error [controler]="documentNumber" />
    }

    <a class="link" id="register-login-link" routerLink="../login">
      Já tem uma conta ? <span>Entre!</span>
    </a>

    <div class="register-form-footer">
      <app-button
        id="register-submit"
        type="submit"
        [disabled]="
          !!form.invalid || payload.password != payload.confirm_password
        "
      >
        Entrar
      </app-button>
    </div>
  </form>

  @if (error) {
    <alert @fade [type]="alertType"> {{ error }} </alert>
  }
</div>
