<section id="list-post-page" class="container">
  <header id="list-post-page-header">
    <h1 class="subtitle border">Publicações</h1>
  </header>

  <div id="list-post-page-container">
    <ul>
      @for (post of (posts | async)?.data; track $index) {
      <li>
        @defer (on viewport) {
        <!-- <app-post [postParams]="post"></app-post> -->
        <app-post>
          <span [innerHTML]="post.content | trustHtml"> </span>
        </app-post>
        <app-post-loading />
        } @loading {
        <app-post-loading />
        } @placeholder {
        <app-post-loading />
        }
      </li>
      } @empty {
      <li>
        <h3 class="empty subtitle">Sem nenuma publicação encontrada.</h3>
      </li>
      }
    </ul>
  </div>

  <footer id="list-post-page-footer">
    <app-button-back />
  </footer>
</section>