<form id="task-choice" class="container">
  <div id="task-choice-content">
    <app-input-card [(ngModel)]="task" valor="lesson" id="tarefa" name="task">
      <img src="/assets/ilustrations/programer.svg" />
      <h3 label>Aula</h3>
    </app-input-card>

    <app-input-card [(ngModel)]="task" valor="quiz" id="quiz" name="task">
      <img src="/assets/ilustrations/computador.svg" />
      <h3 label>Quiz</h3>
    </app-input-card>
  </div>

  <footer id="task-choice-footer">
    <app-button-back id="task-choice-back-button" />

    <app-button
      [routerLink]="'../' + task"
      [disabled]="!task"
      id="task-choice-submit-button"
    >
      Criar um conteudo
    </app-button>
  </footer>
</form>
