@use "../../../../scss/variables/breakpoints";

#task-choice {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 132px);
  max-width: var(--container-size-small);

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;

    @media (min-width: breakpoints.$tablet) {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }

    app-input-card {
      width: 100%;

      @media (min-width: 768px) {
        max-height: 400px;
        max-width: 300px;
      }
    }

    app-input-card + app-input-card {
      margin-top: 24px;

      @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 24px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    max-width: 400px;

    app-button-back {
      display: block;
      margin-right: 14px;
    }

    app-button {
      max-width: 100%;
      width: 300px;
      display: block;
      margin: 0 auto;
    }
  }
}
