<div class="calendar-legend" role="contentinfo">
  <h2 class="calendar-legend-title title">Legenda:</h2>

  <ul class="calendar-legend-list">
    <li class="calendar-legend-item">
      <span
        class="calendar-legend-item-color calendar-legend-item-color--disabled"
      ></span>
      <span class="calendar-legend-item-text text">Nenhum evento</span>
    </li>

    <li class="calendar-legend-item">
      <span
        class="calendar-legend-item-color calendar-legend-item-color--meeting"
      ></span>
      <span class="calendar-legend-item-text text">Reunião</span>
    </li>

    <li class="calendar-legend-item">
      <span
        class="calendar-legend-item-color calendar-legend-item-color--proof"
      ></span>
      <span class="calendar-legend-item-text text">Prova</span>
    </li>

    <li class="calendar-legend-item">
      <span
        class="calendar-legend-item-color calendar-legend-item-color--liveclass"
      ></span>
      <span class="calendar-legend-item-text text">Live</span>
    </li>

    <li class="calendar-legend-item">
      <span
        class="calendar-legend-item-color calendar-legend-item-color--others"
      ></span>
      <span class="calendar-legend-item-text text">Outros Eventos</span>
    </li>
  </ul>
</div>
