@use "../../../../scss/index.scss" as import;

#course {
  @include import.filledPage;
  align-items: center;
  width: 100%;

  ul {
    list-style: none;
    margin-bottom: 14px;
    padding: 0;
    width: 100%;

    li + li {
      margin-top: 18px;
    }
  }

  app-page-thumb {
    @include import.overflowLateralPadding(32px);
    margin-left: 0;
  }

  .subtitle {
    margin-right: auto;
    margin-bottom: 24px;
  }

  &-content {
    @include import.container(var(--container-size-small));
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
    flex: 1;
  }

  app-item-bar,
  app-course-list,
  app-course-form {
    display: block;
    width: 100%;
  }

  &-footer {
    align-items: stretch;
    display: flex;
    max-width: 330px;
    width: 100%;

    ::ng-deep .button {
      height: 100%;
    }
  }

  .empty {
    color: var(--neutral-color-1);
    margin: 24px auto;
    max-width: 330px;
    text-align: center;
    width: 100%;
  }

  &-back-button {
    margin-right: 8px;
  }

  &-submit-button {
    flex: 1;
  }
}
