<section id="course">
  @if (payload.id) {
    <app-page-thumb [college]="payload" />
  }

  <div id="course-content" class="container">
    <h1 class="subtitle border">{{ payload.name }}</h1>
    <app-course-form [payload]="payload" />

    @if (alertMessage) {
      <alert id="course-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }
  </div>

  <footer id="course-footer">
    <app-button-back id="course-back-button"></app-button-back>

    <app-button routerLink="../../choice-lesson" id="course-submit-button">
      Criar conteudo
    </app-button>
  </footer>
</section>
