<section id="course">
  @defer (when !isLoading()) {
    <app-page-thumb [college]="payload" />
  } @placeholder {
    <app-page-thumb-loader />
  } @loading {
    <app-page-thumb-loader />
  }

  <div id="course-content" class="container">
    <h1 class="subtitle border">{{ payload.name }}</h1>
    <app-course-form [payload]="payload" />

    @if (alertMessage) {
      <alert id="course-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }

    <app-course-list name="Aulas" [isLoading]="isLoading()" [itens]="lessons" />
    <app-course-list name="Quizes" [isLoading]="isLoading()" [itens]="quizes" />
    <!-- <app-course-list name="Tarefas" [isLoading]="isLoading" [itens]="tasks" /> -->
  </div>

  <footer id="course-footer">
    <app-button-back id="course-back-button" />

    <app-button routerLink="./choice-task" id="course-submit-button">
      Criar conteudo
    </app-button>
  </footer>
</section>
