<section id="college">
  <app-college-thumb />

  <div id="college-content" class="container">
    <app-college-form />
    <app-college-list />

    @if (alertMessage) {
      <alert id="college-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }
  </div>

  <footer id="college-footer">
    <app-button-back
      id="college-back-button"
      routerLink="../../home"
    ></app-button-back>

    <app-button (click)="submit()" id="college-submit-button">
      Cadastrar um curso
    </app-button>
  </footer>
</section>
