<section id="college">
  <app-college-thumb [college]="payload" />

  <div id="college-content" class="container">
    <app-college-form [payload]="payload" />
    <app-college-list [courses]="courses" />

    @if (alertMessage) {
      <alert id="college-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }
  </div>

  <footer id="college-footer">
    <app-button-back id="college-back-button"></app-button-back>

    <app-button routerLink="./course" id="college-submit-button">
      Cadastrar um curso
    </app-button>
  </footer>
</section>
