@use "../../../../scss/mixins/position";
@use "../../../../scss/mixins/grid";

#college {
  @include position.filledPage;
  align-items: center;
  width: 100%;

  app-page-thumb-loader,
  app-page-thumb {
    @include grid.overflowLateralPadding(32px);
    margin-left: 0;
    height: 197px;
  }

  .subtitle {
    margin-right: auto;
  }

  &-content {
    @include grid.container(var(--container-size-small));
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
    flex: 1;
  }

  app-college-list,
  app-college-form {
    display: block;
    width: 100%;
  }

  &-footer {
    align-items: stretch;
    display: flex;
    max-width: 330px;
    width: 100%;

    ::ng-deep .button {
      height: 100%;
    }
  }

  &-back-button {
    margin-right: 8px;
  }

  &-submit-button {
    flex: 1;
  }
}
