<section id="college">
  <app-college-thumb />

  <div id="college-content" class="container">
    <div id="college-content-header">
      <h1 class="subtitle border">Senac</h1>
      <app-button
        [disabled]="!!form?.form?.invalid"
        size="small"
        (click)="update()"
        id="college-submit-button"
      >
        Alterar
      </app-button>
    </div>

    <app-college-form #form />
    <app-college-list />

    @if (alertMessage) {
      <alert id="college-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }
  </div>

  <footer id="college-footer">
    <app-button-back
      id="college-back-button"
      routerLink="../home"
    ></app-button-back>

    <app-button (click)="submit()" id="college-submit-button">
      Cadastrar um curso
    </app-button>
  </footer>
</section>
