<div class="input-upload">
  @if (value.b64) {
  <img [src]="value.b64" class="input-upload_preview" />
  }

  <input
    #inputFile
    type="file"
    [id]="id"
    [name]="id"
    (change)="showImage($event)"
    accept="image/png, image/jpeg"
    class="input-upload_input"
  />

  <button
    [id]="id + '-input-upload-button'"
    type="button"
    (click)="inputFile.click()"
    class="input-upload_button"
  >
    icone
  </button>
</div>

<label [for]="id + '-input-upload-button'" class="input-upload_text">
  <ng-content></ng-content>
</label>
