.input-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  input {
    appearance: none;
    background: var(--background-color-1);
    border: 1px solid var(--neutral-color-1);
    border-radius: var(--border-radius-1);
    box-sizing: border-box;
    padding: var(--space-7);
    transition: var(--transition);
    width: 100%;
    color: var(--primary-color-1);
    font-size: var(--font-size-3);
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    appearance: none;

    &::placeholder {
      color: var(--font-color-ligth);
      font-size: var(--font-size-3);
      font-style: normal;
      font-weight: var(--font-weight-bold);
      font-family: var(--primary-font-family);
      line-height: normal;
    }

    &:active,
    &:focus-visible,
    &:focus {
      border: 1px solid var(--info-color-1);
      box-shadow: 0px 0px 2px 2px rgba(115, 205, 255, 1);
    }
  }

  label {
    font-weight: var(--font-weight-bold);
    font-family: var(--primary-font-family);
    margin-bottom: var(--space-4);
    color: var(--font-color-dark);
    font-size: var(--font-size-3);
    font-style: normal;
    line-height: normal;
  }

  &.has-error {
    input::placeholder,
    label {
      color: var(--error-color-1);
    }

    input {
      border-color: var(--error-color-1);

      &:active,
      &:focus-visible,
      &:focus {
        box-shadow: 0px 0px 2px 2px rgba(255, 106, 106, 0.4);
      }
    }
  }

  &.success {
    input::placeholder,
    label {
      color: var(--success-color-1);
    }

    input {
      border-color: var(--success-color-1);

      &:active,
      &:focus-visible,
      &:focus {
        box-shadow: 0px 0px 2px 2px rgba(123, 255, 120, 0.4);
      }
    }
  }
}
