<section id="create-course" class="container">
  <header id="create-course-header">
    <h1 class="subtitle border">Cadastro curso</h1>
  </header>

  <form #form="ngForm" (ngSubmit)="submit()" id="create-course-container">
    <app-input-text
      [(ngModel)]="payload.name"
      label="Nome"
      id="course-name"
      name="name"
      [required]="true"
      type="text"
      placeholder="Informe o nome da instituição"
    />

    <input-upload
      [(ngModel)]="payload.thumb"
      id="course-thumb"
      [required]="true"
      name="thumb"
    >
      Faça o upload da thumb do curso
    </input-upload>

    <footer id="create-course-footer">
      <app-button-back></app-button-back>

      <app-button
        id="create-course-submit"
        type="submit"
        [disabled]="!!form.invalid"
      >
        Criar
      </app-button>

      @if (alertMessage) {
        <alert id="create-course-alert" [type]="alertType">
          {{ alertMessage }}
        </alert>
      }
    </footer>
  </form>
</section>
