<div class="register">
  <form #form="ngForm" class="register-form">
    <app-input-text
      name="password"
      [(ngModel)]="payload.password"
      id="password"
      type="password"
      label="Senha"
      placeholder="Informe a sua senha"
    ></app-input-text>

    <app-input-text
      name="confirm_password"
      [(ngModel)]="payload.confirm_password"
      id="confirm_password"
      type="password"
      label="Confirme sua nova Senha"
      placeholder="Confirme sua nova senha"
    ></app-input-text>
  </form>

  <div class="register-form-footer">
    <app-button [disabled]="!!form.invalid"> Atualizar senha </app-button>
  </div>
</div>
