<form #form="ngForm" id="college-form">
  <div id="college-form-header">
    <h1 class="subtitle border">Senac</h1>
    <app-button
      [disabled]="!disabledFields"
      size="small"
      (click)="update()"
      id="college-submit-button"
    >
      Alterar
    </app-button>
  </div>

  <div class="row">
    <app-input-text
      [(ngModel)]="payload.name"
      id="college-name"
      [required]="true"
      [disabled]="disabledFields"
      label="Nome"
      name="name"
      type="text"
      placeholder="Informe o nome da instituição"
    ></app-input-text>
  </div>

  <div class="row">
    <app-input-color
      [(ngModel)]="payload.primaryColor"
      id="college-primary-color"
      [disabled]="disabledFields"
      label="Cor pricipal"
      name="primaryColor"
      [required]="true"
    ></app-input-color>

    <app-input-color
      [(ngModel)]="payload.secundaryColor"
      [disabled]="disabledFields"
      id="college-secundary-color"
      label="Cor secundaria"
      name="secundaryColor"
      [required]="true"
    ></app-input-color>
  </div>

  <div class="row">
    <input-upload
      [initialImage]="payload.thumb"
      [(ngModel)]="payload.thumb"
      [disabled]="disabledFields"
      id="college-thumb"
      [required]="true"
      name="thumb"
    >
      Faça o upload do logo da instituição
    </input-upload>
  </div>
</form>
