<section id="list-college" class="container">
  <header id="list-college-header">
    <jumbotron-notification>
      <p class="text">Estou vendo que não tem nenhuma escola. Cadastre aqui.</p>
    </jumbotron-notification>

    <h1 class="subtitle border">Escolas</h1>
  </header>

  <div id="list-college-container">
    <ul>
      @for (college of userLogged.colleges; track $index) {
        <li>
          <a [routerLink]="'../college/' + college.id">
            <app-college-item [college]="college" />
          </a>
        </li>
      } @empty {
        <li>
          <h3 class="empty subtitle">
            Esta conta não possui nenhuma escola inclusa. Cadastre uma nova
            clicando em “Nova Escola”
          </h3>
        </li>
      }
    </ul>

    @if (messageError) {
      <alert @fade [type]="alertType"> {{ messageError }} </alert>
    }
  </div>

  <footer id="list-college-footer">
    <app-button>Nova Escola</app-button>
  </footer>
</section>
