<section id="lesson" class="container">
  <header id="lesson-header">
    <h1 class="subtitle border">Aula</h1>
  </header>

  <form id="lesson-form" #form="ngForm">
    <app-input-text
      name="title"
      [(ngModel)]="payload.title"
      id="title"
      type="title"
      [required]="true"
      label="Titulo"
      placeholder="Informe o titulo da aula"
    />

    <app-input-text
      [(ngModel)]="payload.description"
      name="description"
      id="description"
      [required]="true"
      label="Descrição"
      placeholder="Descreva o conteudo da aula"
    />

    <div class="row">
      <app-input-radio [(ngModel)]="videoType" value="upload" name="video">
        Upload
      </app-input-radio>
      <app-input-radio [(ngModel)]="videoType" value="link" name="video">
        Link
      </app-input-radio>
    </div>

    @if (videoType === "link") {
      <app-input-text
        [(ngModel)]="payload.urlContent"
        name="urlContent"
        [required]="true"
        id="urlContent"
        label="Link"
        placeholder="Link da video aula"
      />
    }

    @if (videoType === "upload") {
      <input-upload
        [(ngModel)]="payload.video"
        [required]="true"
        accept="video/mp4,video/x-m4v,video/*"
        name="video"
        id="video"
        >Video da aula</input-upload
      >
    }

    <quill-editor
      format="html"
      id="lesson-content"
      name="lesson-content"
      [(ngModel)]="payload.content"
    />

    @if (alertMessage) {
      <alert id="create-course-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
    }

    <footer id="lesson-form-footer">
      <app-button-back />
      <app-button [disabled]="!!form.invalid"> Criar aula </app-button>
    </footer>
  </form>
</section>
