@use "../../../../scss/mixins/grid";

#lesson {
  @include grid.container(var(--container-size-small));
  @include grid.directionColumn();
  align-items: flex-start;

  .row {
    display: flex;
    width: 100%;
    margin: 24px 0;
  }

  &-form {
    width: 100%;

    quill-editor {
      width: inherit;
    }

    app-input-radio {
      margin-right: 24px;
    }

    & app-input-upload,
    & app-input-text,
    & quill-editor {
      display: block;
      margin-top: 24px;
    }

    alert {
      display: block;
      margin: 24px 0;
    }

    &-footer {
      display: flex;
      width: 100%;
      margin-top: 34px;

      app-button {
        flex: 1;
        display: block;
        margin-left: 14px;
      }
    }
  }
}
