@import "../../../../scss/index";

#lesson {
  @include directionColumn();
  align-items: flex-start;

  .row {
    display: flex;
    width: 100%;
  }

  &-form {
    @include container(var(--container-size-small));
    width: 100%;

    quill-editor {
      width: inherit;
    }

    app-input-radio {
      margin-right: 24px;
    }

    & > * {
      display: block;
      margin-top: 24px;
    }
  }
}
