<main
  class="logged-page"
  [ngClass]="{
    open: open
  }"
>
  <div class="logged-page-aside">
    <app-aside-menu
      [userLogged]="userLogged"
      (userLogout)="logout()"
    ></app-aside-menu>
  </div>

  <div class="logged-page-content">
    <header class="logged-page-header container">
      <app-button-menu
        id="button-menu-header"
        [isOpen]="open"
        (click)="open = !open"
      ></app-button-menu>
      @if (!!userLogged && !!userLogged.user.photo) {
        <app-avatar
          [loading]="false"
          [src]="userLogged.user.photo"
          [alt]="userLogged.user.name"
          id="avatar-header"
        />
      } @else {
        <app-avatar id="avatar-header" />
      }
    </header>
    <ng-content></ng-content>
  </div>
</main>
