<main
  class="logged-page"
  [ngClass]="{
    open: open,
  }"
>
  <div class="logged-page-aside">
    <app-aside-menu [userLogged]="userLogged" (userLogout)="logout()" />
  </div>

  <div class="logged-page-content">
    <header class="logged-page-header container">
      <app-button-menu
        id="button-menu-header"
        [isOpen]="open"
        (click)="open = !open"
      />

      <app-avatar
        [content]="userLogged.user | iuserToAvatar"
        id="avatar-header"
      />
    </header>

    <ng-content></ng-content>
  </div>
</main>
