@import "../../../scss/index.scss";

.logged-page {
  background-color: var(--primary-color-2);
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: var(--transition);
  width: 100vw;

  &-aside {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 280px;

    @media (min-width: $tablet) {
      width: 320px;
    }
  }

  &-content {
    background-color: var(--background-color-1);
    flex: 1;
    min-width: 100vw;
    padding: 24px 32px;
    transition: var(--transition);
    z-index: 1;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &.open {
    margin-left: 0;
    max-width: 100vw;
    overflow: hidden;
    height: 100vh;

    .logged-page-content {
      border-radius: 16px 0 0 16px;
      transform: scale(1, 0.9) translateX(280px);
      overflow: hidden;

      @media (min-width: $tablet) {
        transform: scale(1, 0.9) translateX(320px);
      }
    }
  }
}
