.avatar {
  display: block;
  margin: 0;
  border-radius: 100%;
  border: 1px solid var(--black-color-dark);
  overflow: hidden;
  cursor: pointer;
  padding: 4px;

  img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  //sizes
  &.sm {
    width: 60px;
    height: 60px;
  }

  &.md {
    width: 60px;
    height: 60px;
  }

  &.lg {
    width: 160px;
    height: 160px;
  }

  &:has(.avatar-loader) {
    cursor: unset;
    border-color: var(--neutral-color-1);

    .avatar-loader {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100%;
    }
  }
}
