<section id="create-college" class="container">
  <header id="create-college-header">
    <h1 class="subtitle border">Nova Escola</h1>
  </header>

  <form #form="ngForm" (ngSubmit)="submit()" id="create-college-container">
    <div class="row">
      <app-input-text
        [(ngModel)]="payload.name"
        label="Nome"
        id="college-name"
        name="name"
        [required]="true"
        type="text"
        placeholder="Informe o nome da instituição"
      ></app-input-text>
    </div>
    <div class="row">
      <app-input-color
        [(ngModel)]="payload.primaryColor"
        id="college-primary-color"
        name="primaryColor"
        [required]="true"
        label="Cor pricipal"
      />

      <app-input-color
        [(ngModel)]="payload.secundaryColor"
        id="college-secundary-color"
        name="secundaryColor"
        [required]="true"
        label="Cor secundaria"
      />
    </div>
    <div class="row">
      <input-upload
        [(ngModel)]="payload.thumb"
        id="college-thumb"
        [required]="true"
        name="thumb"
      >
        Faça o upload do logo da instituição
      </input-upload>
    </div>
    <footer id="create-college-footer">
      <app-button-back routerLink="../home" />

      <app-button
        id="create-college-submit"
        type="submit"
        [disabled]="!!form.invalid"
      >
        Criar
      </app-button>

      @if (alertMessage) {
      <alert id="create-college-alert" [type]="alertType">
        {{ alertMessage }}
      </alert>
      }
    </footer>
  </form>
</section>
