#create-college {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 132px);
  max-width: 400px;

  &-header {
    margin-bottom: 24px;
    width: 100%;
  }

  &-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    text-align: center;
    width: 480px;
    max-width: 100%;

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .row + .row {
      margin-top: 24px;
    }

    input-upload,
    app-input-text {
      display: block;
      width: 100%;
    }

    app-input-color + app-input-color {
      margin-left: 16px;
    }

    h3.subtitle {
      color: #d9d9d9;
      text-align: center;
      width: 100%;
    }

    .text {
      width: 100%;
      font-weight: bold;
      max-width: 180px;
      margin: 0 auto;
    }
  }

  &-footer {
    margin-top: 34px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    app-button {
      flex: 1;
      display: block;
      margin-left: 14px;
    }

    alert {
      display: block;
      margin-top: 24px;
      width: 100%;
    }
  }
}
