#create-college {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 132px);

  &-header {
    margin-bottom: 24px;
    width: 100%;

    .subtitle {
      margin-top: 24px;
    }
  }

  &-container {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 34px;
    text-align: center;
    width: 100%;

    h3.subtitle {
      color: #d9d9d9;
      text-align: center;
      width: 100%;
    }
  }

  &-footer {
    width: 100%;
  }
}
